* {
            box-sizing: border-box;
        }

        body {
            background-color: #edeff2;
            font-family: "Calibri", "Roboto", sans-serif;
        }

        .title {
            text-align: center;
            color: dodgerblue;
            font-size: 40px;
        }

        .labels {
            text-align: center;
            color: dodgerblue;
            font-size: 20px;
        }

        .message_sender_wrapper {
            display: inline-block;
            height: 50px;
            border-radius: 25px;
            border: 1px solid #bcbdc0;
            width: 200px;
            position: relative;
            padding: 0 20px;
        }

        .message_sender_wrapper .message_sender {
            border: none;
            height: 100%;
            box-sizing: border-box;
            width: 200px;
            position: absolute;
            outline-width: 0;
            color: gray;
        }

        .send_message {
            width: 140px;
            height: 50px;
            display: inline-block;
            border-radius: 50px;
            background-color: #a3d063;
            border: 2px solid #a3d063;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s linear;
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            display: inline-block;
            line-height: 48px;
        }
